#authorization-container {
    background-color: #eeeeee;
    width: 500px;
    padding:20px;
    margin: 0 auto;
    height: 300px;
    border: 1px silver solid;
    margin-top: 50px;
    padding-top:10px;
    border-radius:3px
}

#authorization-form {
    margin-top:50px
}