

@font-face {
    font-family: 'PFAgoraSansPro-Regular';
    src: url('/fonts/pfagorasansproreg.eot');
    src: url('/fonts/pfagorasansproreg.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfagorasansproreg.woff') format('woff'),
    url('/fonts/pfagorasansproreg.ttf') format('truetype'),
    url('/fonts/pfagorasansproreg.svg#pfagorasansproreg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSansPro-Light';
    src: url('/fonts/pfagorasansprolight.eot');
    src: url('/fonts/pfagorasansprolight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfagorasansprolight.woff') format('woff'),
    url('/fonts/pfagorasansprolight.ttf') format('truetype'),
    url('/fonts/pfagorasansprolight.svg#pfagorasansprolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSansPro-Medium';
    src: url('/fonts/pfagorasanspromedium.eot');
    src: url('/fonts/pfagorasanspromedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfagorasanspromedium.woff') format('woff'),
    url('/fonts/pfagorasanspromedium.ttf') format('truetype'),
    url('/fonts/pfagorasanspromedium.svg#pfagorasanspromedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSansPro-Thin';
    src: url('/fonts/pfagorasansprothin.eot');
    src: url('/fonts/pfagorasansprothin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfagorasansprothin.woff') format('woff'),
    url('/fonts/pfagorasansprothin.ttf') format('truetype'),
    url('/fonts/pfagorasansprothin.svg#pfagorasansprothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSansPro-Bold';
    src: url('/fonts/pfagorasansprobold.eot');
    src: url('/fonts/pfagorasansprobold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pfagorasansprobold.woff') format('woff'),
    url('/fonts/pfagorasansprobold.ttf') format('truetype'),
    url('/fonts/pfagorasansprobold.svg#pfagorasansprobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans-Bold';
    src: url('/fonts/ptsansbold.eot');
    src: url('/fonts/ptsansbold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ptsansbold.woff') format('woff'),
    url('/fonts/ptsansbold.ttf') format('truetype'),
    url('/fonts/ptsansbold.svg#ptsansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #f5f5f5;
    font-family: 'PFAgoraSansPro-Light';
}

span.title {
    font-family: 'PFAgoraSansPro-Bold';
    font-size: 24px;
    display:block;
    margin:5px;
}