<div id="authorization-container" class="container">
    <span class="title">Авторизация</span>
    <form class="form-horizontal" id="authorization-form">
        <div class="control-group">
            <label class="control-label" for="input-auth-email">E-mail</label>
            <div class="controls">
                <input type="text" id="input-auth-email" placeholder="E-mail">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-auth-password">Пароль</label>
            <div class="controls">
                <input type="password" id="input-auth-password" placeholder="Пароль">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" id="btn-auth">Продолжить</button>
                <br /><br />
                <a href="#registration">Создать новый аккаунт</a>
            </div>
        </div>
    </form>
</div>