<div id="registration-container" class="container">
    <span class="title">Регистрация</span>
    <form class="form-horizontal" id="registration-form">
        <div class="control-group">
            <label class="control-label" for="input-registration-email">E-mail</label>
            <div class="controls">
                <input type="text" placeholder="E-mail" id="input-registration-email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input-registration-password">Пароль</label>
            <div class="controls">
                <input type="password" placeholder="Пароль" id="input-registration-password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn" id="btn-registration">Продолжить</button>
                <br /><br />
                <a href="#authorization">Уже есть аккаунт</a>
            </div>
        </div>
    </form>
</div>